

.checkbox-proton-wrapper{

    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
        color: var(--orange) !important;
             
    }
    
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root:hover {
        background-color: var(--light-orange2) !important;
    }
    
    .css-ahj2mt-MuiTypography-root,
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
        color: var(--darker-gray) !important;
    }
    

}




