


.slider-proton-container{
    margin: 0.5em 0 0 0;
   
}

.slider-price{
    padding: 0 1em;
}

.silder-prices-value{
    display: flex;
    justify-content: space-between;
    
}

.silder-prices-value span{
   color: var(--darker-gray);
   font-size: 14px;

}

