

.slider-price{
    
.css-187mznn-MuiSlider-root{
    color: var(--orange) !important;
   
}

.css-14pt78w-MuiSlider-rail{
    color: var(--gray) !important;
}

.css-eg0mwd-MuiSlider-thumb:hover, .css-eg0mwd-MuiSlider-thumb.Mui-focusVisible{
    box-shadow: 0px 0px 0px 8px var(--light-orange2) !important;
}
.css-eg0mwd-MuiSlider-thumb.Mui-active{
    
    box-shadow: 0px 0px 0px 14px var(--light-orange2) !important;
}
}