

.css-1gjgmky-MuiToggleButtonGroup-root {
   
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: right;
    margin: 0.5em 0 0 0;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root{
    border-radius: 10px !important;
    border: 1px solid var(--gray) !important;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected{
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

