

.section7-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 1em 0;
    gap: 1em;
}
.section7-container a img{
  
    box-shadow: var(--box-shadow);
    border-radius: 25px;
    
    transition: 0.3s;
}
.section7-container a img:hover{
  opacity: 0.85;
}