
.alltickets-filters{
display: flex;
align-items: center;
column-gap: 1em;
margin: 2em 0 0 0;
    .MuiOutlinedInput-selectedOutline{
        border-color: var(--orange);
    }

    .alltickets-filters .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover{
        border-color:none !important;
    }
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
        padding: 0.5em 2.5em 0.5em 1.5em !important;
    }
    .css-1ujsas3{
        background-color: var(--white) !important;
        color: var(--darker-orange) !important;
        border: 2px solid var(--orange) !important;
        border-radius: 8px !important;
    }

    .css-fvipm8{
        font-family: IRsans-web !important;
        border-radius: 10px !important;
    }

  
    .css-qiwgdb{
        color: var(--bs-gray-700) !important;
        padding: 9px 14px !important;
    }
    .Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 1px solid var(--orange) !important;
        
    }
   
    
    
    }
    

    .alltickets-box {
        .css-tzssek-MuiSvgIcon-root{
            color: var(--darker-gray);
        }
        span{
            color: var(--darker-gray);
        }
    }