
.css-ykqd4v-MuiListItem-root{

    .css-o4b71y-MuiAccordionSummary-content{
        justify-content: center;
      
    }
    .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root{
        justify-content: center;
        padding: 0.5em 0 !important;
        
        
        .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover{
            background-color: unset !important;
        }
    }
    .css-iwrpx2-MuiButtonBase-root-MuiListItemButton-root:hover{
        background-color: unset !important;
    }
}