

.captcha-code{
    display: flex;
    justify-self: center;
    align-self: center;
    column-gap: 0.5em;
    margin: 1em 0 0 0;
    font-size: 20px;
    align-items: center;
}
.captcha-code span{
   font-style: italic;
   background-color: var(--bs-gray-300);
   padding: 0.5em 1em;
   border-radius: 10px;
   color: var(--bs-gray-700);
}